@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recruitment Company Info</h1>
    <p class="lead">Search for companies based on your selected filters</p>
</div>

@*<div class="row">
    <div class="tab-content">
        <h2>Dummy text</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
    </div>
</div>*@